<div class="container">
  <div class="row  d-flex justify-content-center">
    <div class="col-md-4">
      <div class="form-group">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Ürün Adı</label>
          <input type="text" class="form-control" #inputName placeholder="Ürün Adı">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Stok Adedi</label>
          <input type="number" class="form-control" #inputQuantity  placeholder="Stok Adedi">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Birim fiyatı</label>
          <input type="number" class="form-control" #inputPrice  placeholder="Birim fiyatı">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Ürün Resmi</label>
          <input type="text" class="form-control" #inputImage  placeholder="Birim fiyatı">
        </div>
        <button class="btn btn-success" (click)="add(inputName,inputQuantity,inputPrice,inputImage)">Ürünü Kaydet</button>
      </div>
    </div>
  </div>
</div>
